# files generated during test coverage
coverage/
test/generated_coverage_helper_test.dart

.DS_Store
.dart_tool/

.packages
.pub/
pubspec_overrides.yaml

build/
**/*.settings
**/*.project
**/*.classpath
pubspec.lock

.idea/